/* .card {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image {
  max-width: 60%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title {
  font-family: Arial, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);
}

.card .card-text {
  font-family: Arial, sans-serif;
  color: hsl(0, 0%, 30%);
} */

/* .student {
  font-family: Arial, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 50%,0.8);
}

.student p {
  margin: 0;
} */

/* .welcome-message {
  font-size: 2.5em;
  background-color: hsl(120, 100%, 42%);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.login-prompt{
  font-size: 2.5em;
  background-color: hsl(0, 100%, 42%);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
} */

#root {
  height: 936px;
  display: inline-block;
  width: -webkit-fill-available;
}

.app {
  display: flex;
  height: 100%;
}

.completedItem {
  background-color: green;
  line-height: 1.5em;
}

.incompleteItem {
  background-color: red;
  line-height: 1.5em;
}

ol {
  border: 1px solid black;
}

.sidebar {
  padding-top: 20px;
  background-color: darkgrey;
  width: 10em;
  height: 100%;
}

.sidebarItem {
  padding: 10px;
  cursor: pointer;
}

.sidebarItem-active {
  padding: 10px;
  /* padding-bottom: 10px; */
  color: #1559B4;
  background-color: #E6F1FF;
}

h3 {
  text-align: center;
}

.content-columns {
  display: flex;
  justify-content: space-evenly;
}

.Content {
  width: 100%;
}

.content-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #F0F0F0;
  padding: 10px;
  overflow: hidden;
  height: 790px;
  position: relative;
}

.content-column-listitem {
  padding: 5px;
  width: 13.5em;
  background-color: floralwhite;
  overflow: hidden; /* make sure it hides the content that overflows */
  white-space: nowrap; /* don't break the line */
  text-overflow: ellipsis; /* give the beautiful '...' effect */
}

.cc-1-action {
  display: flex;
  gap: 6px;
  align-items: flex-start;
  margin-top: 6px;
}

.green-button {
  background-color: green;
  padding: 6px;
  color: white;
  min-width: 40px;
  cursor: pointer;
  border: none;
}

.red-button {
  background-color: red;
  padding: 6px;
  color: white;
  min-width: 40px;
  cursor: pointer;
  border: none;
}

.cc-2-action{
  color: green;
  text-wrap: balance;
  margin-top: 4px;
}

.cc-3-action{
  color: red;
  text-wrap: balance;
  margin-top: 4px;
}

.add-new-todo {
  color: #6FB38C;
  border: 2px solid #6FB38C;
  text-align: center;
  padding: 5px;
  bottom: 13px; 
  position: absolute; 
  width: 211px;
  background-color: #F0F0F0;
  cursor: pointer;
}

.cc-wrapper{
  gap: 10px;
  overflow-y: auto;
  height: 900px;
  padding-bottom: 40px;
}